
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body{
    
    font-family: 'Audiowide', cursive;
    
}

.list-item {
  display: inline;
  margin: 1rem;
}

.navbar-container {
  position: absolute;
  width: 100%;
}
.logo {
  position: relative;
  left: 5%;
  top: 3rem;
}

.list {
  position: relative;
  left: 18%;
  font-size: 1.5rem;
  bottom: 2rem;
}

.button-group {
  position: relative;
  left: 65%;
  bottom: 6rem;

}
.search-icon {
  position: relative;
  display: inline;
  right: 9rem;
  
 
}
.nav-button {
  position: relative;
  right: 6rem;
  bottom: 3rem;
  width: 200px;
  height: 3rem;
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: white;
}

.hero-container {
  position: absolute;
}
.square {
  position: relative;
  left: 42%;
  top: 26rem;
}
.hero {
  position: relative;
  left: 8%;
  bottom: 4rem;
  height: 30rem;
}
.star {
  position: relative;
  left: 180%;
  bottom: 5rem;
}
.globe {
  position: relative;
  left: 50%;
  bottom: 7rem;
  height: 2rem;
}
.hero-container-right {
  position: absolute;
  bottom: 9rem;
  left: 38rem;
  width: 60rem;
}
.hero-heading {
  position: relative;
  font-size: 4rem;
}
.hero-description {
  position: relative;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  width: 45rem;
  left: 1rem;
}
.button-email {
  position: relative;
  left: 13rem;
  top: 3rem;
  width: 200px;
  height: 2rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 40px;
}
.button-join {
  position: relative;
  left: 13rem;
  top: 3rem;
  width: 100px;
  height: 2rem;
  border-radius: 8px;
  background-color: black;
  color: white;
  padding-bottom: 2px;
}
.contact-heading {
  position: relative;
  left: 35%;
  top: 5rem;
}

.icons {
  position: relative;
  top: 5rem;
  left: 16rem;
 
}
.image {
  height: 20rem;
}
span {
  padding-left: 1rem;
}

.gb{

    width: 3rem
}
.str{
    width: 3rem;
}
